/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.container{
width: 1320px;  
margin: 0 auto;
}

/*buttons*/

.btns{
  width: 150px;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
  border-radius:5px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px -1px 0px #5b6178;
  margin-left: 850px;
}

.btns:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}

.btns:active {
	position:relative;
	top:1px;
}


.page_wrapper{
  position: relative;
  display: flex;
  justify-content:flex-end;
} 

.caption{
  font-size: 20px;
  width: 100%;
  padding: 30px;
  margin-left: 250px;   
}

.caption1{
  list-style: none;
  text-decoration: none;
  font-size: 24px;
  padding: 10px;
  margin-left: 100px; 
}

.team{

/* 
margin-left: 250px;    */
}

.team_wrapper{
  width: 100%;
  font-size: 1.0rem;
  padding: 25px 15px 25px 0px;
  margin-left: 250px;    
  display: flex;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23); */
  border-bottom-style: groove; 
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}


.slider{
  display: flex;
  margin-left: 250px;   
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5; 
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23);
}



/* .team_wrapper:hover{
  transform: scale(1.1);
} */

.team_wrapper-image {
  margin: 30px;
  width: 25%;
}

.bioimg {
  margin-top: 25px;
  /* padding: 10px; */
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 1px 2px rgba(0, 0, 0, .23); */
  box-shadow: -5px 15px 15px -2px #c4c1c1;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.team_wrapper-text {
  font-size: 18px;
  margin: 20px;
  line-height: 2.5rem;
  width: 60%;
}

/*Sidebar*/
.sidebar{
  text-decoration: none;
  width: 250px;
  height: 100%; 
  background: #4b4276;
  padding: 30px 0px;
   position: fixed; 
}

.sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  padding-right: 6px;
}

.fas{
  width: 50px;
}

.sidebar ul li{
  list-style: none;
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.sidebar ul{
padding: 0;
} 


.sidebar ul li a{
  text-decoration: none;
  color: #bdb8d7;
  display: block;
}

.sidebar ul li:hover{
  background-color: #594f8d;
}
    
.sidebar ul li:hover a{
  color: #fff;
}


